# Important Requirements here.
telethon
gitpython
https://github.com/New-dev0/Telethon-Patch/archive/main.zip
python-decouple
python-dotenv
telegraph
enhancer
requests
aiohttp
catbox-uploader
cloudscraper
google-trans-new
pytgcalls==3.0.0.dev24
PySocks
Pillow
pydub
shazamio
apscheduler
python-magic
ffmpeg-python
gingerit
av==9.2.0